/* style.css - til dine custom styles */

/**************************************************/
/* WRITE MOBILE STYLES AND GENERAL STYLES (fonts, colors etc.) HERE BEFORE THE FIRST BREAKPOINT */
/**************************************************/


.corner {
    top: 470px;
    left: 130px;
}

.corner1 {
    top: 10px;
    left: 80px;
}

.corner2 {
    top: 160px;
    right: 120px;
    z-index: 1;
}

.container {
    padding: 0;
    /*giver en vandret scroll bar..*/
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}






/**************************************************/
/* Small devices (landscape phones, 576px and up) */
/**************************************************/
@media (min-width: 576px) {}

/* END "sm-" 576px and up */




/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (min-width: 768px) {

    .corner {
        top: 170px;
        left: 120px;
    }
}

/* END "md-" 768px and up */


/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
@media (min-width: 992px) {

    /* END "lg-" 992px and up */
}

/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
@media (min-width: 1200px) {

    /* END "xl-" 1200px and up */
}
