/* style.css - til dine custom styles */

/**************************************************/
/* WRITE MOBILE STYLES AND GENERAL STYLES (fonts, colors etc.) HERE BEFORE THE FIRST BREAKPOINT */
/**************************************************/

img {
    100%
}

body {
    margin-top: 3em;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #957957;
    text-decoration: underline;
    font-size: 20px
}

a:hover {
    color: #BE9B71;

}

.button {
    background-color: #4d2ff4;
    border: none;
    color: white;
    padding: 1px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #5b42e6;

}

#eboks {
    width: 250px;
}

.cboks {
    padding: 0.8px 2px 2px 5px;
}

.signup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.pad {
    padding-left: 14px;
}

.text {
    top: 90px;
    left 0px;
    font-size: 60px;
    max-width: 400px;
}

.corner {
    top: 380px;
    left: 145px;
}

.corner1 {
    top: 30px;
    left: 230px;
}

.corner2 {
    top: 420px;
    left: 20px;
    z-index: 1;
}

.container {
    padding: 0;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Kan ikke huske hvad den her gør*/

#hero {
    /*    background-color: blue;*/
    font-family: 'Anton', sans-serif;
    min-height: 90vh;
}

#hero h3 {
    color: #121212;
}

#about {
    /*    background-color: crimson;*/
    padding: 0;
    margin: 0;
    min-height: 70vh;
}



#konkurrence {
    /*    background-color: gold;*/
    min-height: 90vh;
}

#konkurrence p {
    font-size: 10px;
}



#graf {
    /*    background-color: blueviolet;*/
    min-height: 90vh;
}

#splash {
    min-height: 60vh;
    min-width: 60vw;
    background: url(img/splash.jpg) no-repeat center center fixed;
}

footer {
    min-height: 30vh;

}

footer p {
    font-size: 0.em;
}

#videod {
    display: none;
}

#video {
    /*    background-color: darkgreen;*/
    min-height: 90vh;
    position: relative;
    z-index: -1;
    width: 75%;
    height: auto;
    margin: auto;

}

.pointer {
    cursor: pointer;
}


/**************************************************/
/* Small devices (landscape phones, 576px and up) */
/**************************************************/
@media (min-width: 576px) {}

/* END "sm-" 576px and up */




/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (min-width: 768px) {

    .corner {
        top: 430px;
        left: 220px;
    }

    .corner1 {
        top: 30px;
        left: 410px;
    }

    .corner2 {
        top: 565px;
        left: 220px;
        z-index: 1;
    }

    .ktext {
        top: 300px;
        left: 20px;
    }

    .dn {
        display: none;
    }

    #videod {
        min-height: 110vh;
        position: relative;
        z-index: -1;
        width: 100%;
        height: auto;
        display: block;
    }

    #video {
        display: none;
    }

}

/* END "md-" 768px and up */


/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
@media (min-width: 992px) {

    body {
        margin: auto;
    }

    .corner {
        top: 400px;
        left: 300px;
    }


    .corner1 {
        top: 0px;
        left: 620px;
    }

    .corner2 {
        top: 515px;
        left: 370px;
        z-index: 1;
    }

    .footertext {
        font-size: 12px;
    }


    /* END "lg-" 992px and up */
}

/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
@media (min-width: 1200px) {


    .corner {
        top: 450px;
        left: 400px;
    }


    .corner1 {
        top: 0px;
        left: 720px;
    }

    .corner2 {
        top: 625px;
        left: 425px;
        z-index: 1;
    }

    #videod {
        width: 100%;
        height: auto;
    }

    /* END "xl-" 1200px and up */
}
