/* style.css - til dine custom styles */

/**************************************************/
/* WRITE MOBILE STYLES AND GENERAL STYLES (fonts, colors etc.) HERE BEFORE THE FIRST BREAKPOINT */
/**************************************************/

a {
    color: inherit;
    text-decoration: underline;
}

.corner {
    top: 470px;
    left: 130px;
}

.corner1 {
    top: 10px;
    left: 80px;
}

.corner2 {
    top: 160px;
    right: 120px;
    z-index: 1;
}

/*
.container {
    padding: 0;
    giver en vandret scroll bar..
}
*/

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#topnav {
    background-color: wheat
}

#hero {
    background-color: blue;
}

#about {
    background-color: crimson;
}

#video {
    background-color: darkgreen;
}

#konkurrence {
    background-color: gold;
}

#splash {
    background-color: orangered;
}

#graf {
    background-color: blueviolet
}




/**************************************************/
/* Small devices (landscape phones, 576px and up) */
/**************************************************/
@media (min-width: 576px) {}

/* END "sm-" 576px and up */




/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (min-width: 768px) {

    .corner {
        top: 410px;
        left: 220px;
    }

    .corner1 {
        top: 30px;
        left: 360px;
    }

    .corner2 {
        top: 165px;
        right: 110px;
        z-index: 1;
    }

    .dn {
        display: none;
    }




}

/* END "md-" 768px and up */


/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
@media (min-width: 992px) {


    .corner1 {
        top: 30px;
        left: 560px;
    }

    .corner2 {
        top: 165px;
        right: 70px;
        z-index: 1;
    }

    /* END "lg-" 992px and up */
}

/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
@media (min-width: 1200px) {

    /* END "xl-" 1200px and up */
}
